accelerate==1.0.1
altair==5.4.1
annotated-types==0.7.0
attrs==24.2.0
audioread==3.0.1
auraloss==0.4.0
beautifulsoup4==4.12.3
BigVGAN @ git+https://github.com/152334H/BigVGAN.git@b10aaeea6ff7e5704d4f8198071cf9a4c174e78a
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.6.1
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.10.0
ftfy==6.3.0
gdown==4.7.3
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.26.1
idna==3.10
imageio==2.36.0
inflect==6.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonmerge==1.9.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
k-diffusion==0.0.14
kiwisolver==1.4.7
kornia==0.7.3
kornia_rs==0.1.5
lazy_loader==0.4
librosa==0.8.1
llvmlite==0.39.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
mpmath==1.3.0
narwhals==1.10.0
networkx==3.4.2
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
packaging==24.1
pandas==2.2.3
pesq==0.0.4
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
progressbar==2.5
protobuf==5.28.2
psutil==6.1.0
pyarrow==17.0.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
resampy==0.4.3
resize-right==0.0.2
rich==13.9.3
rotary-embedding-torch==0.2.7
rpds-py==0.20.0
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
sentry-sdk==2.17.0
setproctitle==1.3.3
simple-parsing==0.0.21.post1
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soupsieve==2.6
streamlit==1.39.0
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tokenizers==0.13.3
toml==0.10.2
torch==2.5.0+cu118
torchaudio==2.5.0+cu118
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchsde==0.2.6
torchvision==0.20.0+cu118
tornado==6.4.1
-e git+https://github.com/anselbrandt/tortoise-tts-fast.git@716ad4d6cd1fd566cd364730b5b812a56a2269e7#egg=TorToiSe
tqdm==4.66.5
trampoline==0.1.2
transformers==4.29.2
triton==3.1.0
typing_extensions==4.12.2
tzdata==2024.2
Unidecode==1.3.8
urllib3==2.2.3
voicefixer==0.1.3
wandb==0.18.5
watchdog==5.0.3
wcwidth==0.2.13
